body html {
    height: 100%;
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.heading {
    height: 10% !important;
}

img {
    object-fit: contain;
}

.container {
    width: 90% !important;
}

#copyright {
    padding-bottom: 30px;
}

